h1 {
   font-size: 18pt;
   font-family: calibri, arial, sans serif;
}


.axis path, .axis line {
    fill: none;
    stroke: black;

}

.axis text {
   font-family: calibri, sans serif;
   font-size: 10pt;

}

.btn {
	width: 100px;
	font-family: calibri, sans serif;
	padding: 10px;
	border: solid 1px black;
	color: white;
}

#old {
	background-color: red;
}

#new {
	background-color: blue;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
  transform: translate(12px,0);

}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
  transform: translate(12px,0);

}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  font: 12px sans-serif;
  pointer-events: none;
  text-align: center;
  background: lightsteelblue;
  border: 0px;
  border-radius: 6px;
  height: 45px;
  width: 70px;
  padding: 2px;
}

.import{
  fill: #ff4d4d;
  stroke: #e60000;
  stroke-width: 1.5px;
}

.export{

}

    path{
        stroke: black;
        stroke-width: .25px;
        fill-opacity: .67;
    }
    path.fade{
        fill-opacity: .1;
    }

    path.show{
        fill-opacity: .67;
    }
