h1 {
   font-size: 18pt;
   font-family: arial, calibri;
}


.axis path, .axis line {
    fill: none;
    stroke: black;
}

.axis text {
   font-size: 10pt;
}

.btn {
	width: 100px;
	padding: 10px;
	border: solid 1px black;
	color: white;
}

#old {
	background-color: red;
}

#new {
	background-color: blue;
}

.node text {
  font-size: 8pt;
}
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
  transform: translate(12px,0);
}


.link{
  fill: none;
  stroke: gray;
  stroke-width: 1.5px;
  transform: translate(12px,0);
}

.tooltip {
  position: absolute;
  width: 110px;
  height: 60px;
  font-size: 12px;
  pointer-events: none;
  text-align: center;
  background: lightsteelblue;
  border: 0px;
  border-radius: 6px;
  padding: 2px;
}

.import{
  fill: #ff4d4d;
  stroke: #e60000;
  stroke-width: 1.5px;
}

.export{

}

    path{
        stroke: black;
        stroke-width: .25px;
        fill-opacity: .67;
    }
    path.fade{
        fill-opacity: .1;
    }

    path.show{
        fill-opacity: .67;
    }

    rect.bordered {
      stroke: #E6E6E6;
      stroke-width:2px;
    }

    text.mono {
      font-size: 9pt;
      fill: #aaa;
    }

    text.axis-workweek {
      fill: #000;
    }

    text.axis-worktime {
      fill: #000;
    }
