h1 { 
   font-size: 18pt;
   font-family: calibri, arial, sans serif;
}


.axis path, .axis line {
    fill: none;
    stroke: black;

}

.axis text {
   font-family: calibri, sans serif;
   font-size: 10pt;
}

.btn {
	width: 100px;
	font-family: calibri, sans serif;
	padding: 10px;
	border: solid 1px black;
	color: white;
}

#old {
	background-color: red;
}

#new {
	background-color: blue;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.import{
  fill: #ff4d4d;
  stroke: #e60000;
  stroke-width: 1.5px;
}

.export{

}

